<!DOCTYPE html>
<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css_footer_header/footer.css">
    </head>
    <body>
        <section class="header_wrap">
            <header class="header">
                <!--<a href="#">
                    <a class="logo">DMAG</a>
                </a>-->
                <nav>
                    <ul class="menu menu--vert">
                        <li><a href="#">DMAG</a></li>
                        <li><a href="#">Каталог</a>
                            <ul class="submenu">
                                <li><a href="">Смартфоны и планшеты</a>
                                    <ul class="submenu1">
                                        <li><a href="#">Смартфоны</a></li>
                                        <li><a href="#">Планшеты</a></li>
                                        <li><a href="#">Наушники</a></li>
                                        <li><a href="#">Гаджеты</a></li>
                                        <li><a href="#">Аксессуары для планшетов и смартфонов</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Компьютеры и ноутбуки</a>
                                    <ul class="submenu1">
                                        <li><a href="#">Компьюеры</a></li>
                                        <li><a href="#">Ноутбуки</a></li>
                                        <li><a href="#">Мониторы</a></li>
                                        <li><a href="#">Комплектующие для ПК</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">ТВ и мультмедиа</a>
                                    <ul class="submenu1">
                                        <li><a href="#">Телевизоры</a></li>
                                        <li><a href="#">Консоли</a></li>
                                        <li><a href="#">Аудиотехника</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Бытовая техника</a>
                                    <ul class="submenu1">
                                        <li><a href="#">Крупная бытовая техника</a></li>
                                        <li><a href="#">Мелкая бытовая техника</a></li>
                                        <li><a href="#">Посуда</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Товары для офиса</a>
                                    <ul class="submenu1">
                                        <li><a href="#">Оргтехника</a></li>
                                        <li><a href="#">Оборудование для малых сетей</a></li>
                                        <li><a href="#">Профессиональное сетевое оборудование</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Строительство и ремонт</a>
                                    <ul class="submenu1">
                                        <li><a href="#">Электроинструменты</a></li>
                                        <li><a href="#">Аккумуляторные инструменты</a></li>
                                        <li><a href="#">Строительное оборудование и стройматериалы</a></li>
                                        <li><a href="#">Сантехника</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Спорт и отдых</a>
                                    <ul class="submenu1">
                                        <li><a href="#">Туризм и отдых</a></li>
                                        <li><a href="#">Транспорт (вело-, электро-)</a></li>
                                        <li><a href="#">Тренажеры</a></li>
                                        <li><a href="#">Товары для зимних видов спорта</a></li>
                                        <li><a href="#">Игры</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li> <!--style="width: 150px"--><!--<a href="#">Поиск</a>-->
                            <!--<a href="#">--><!--class="search-box"-->
                                <input class="search-txt" type="text" name="" placeholder="Поиск">
                                <!--<a class="search-btn" href="#"></a>-->
                            <!--</a>-->
                            <!--<a class="image-lupa" style="text-align:right">
                                <img src="photos/lupa.png" width="50px" height="50px">
                            </a>-->
                        </li>
                        <li><a href="#">Войти</a></li>
                        <li><a href="#">Сравнение</a></li>
                        <li><a href="#">Корзина</a></li>
                    </ul>
                </nav>
            </header>
        </section>
    </body>
</div>