<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/registration.css}">
    <title th:utext="#{registration.registration}"></title>

    <div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
        <a th:href="@{/registration?lang=en}">Login (English)</a>
        &nbsp;|&nbsp;
        <a th:href="@{/registration?lang=ru}">Login (Russian)</a>
    </div>
</head>

<body>
    <div class="container">
        <h1 th:utext="#{registration.registration}"></h1>
        <form id="register" class="input-group">
            <input type="text" th:placeholder="#{registration.name_user}" required>
            <input type="text" th:placeholder="#{registration.email}" required>
            <input type="password" th:placeholder="#{registration.password}" required>
            <input type="text" th:placeholder="#{registration.confirm_password}" required>
            <button type="submit" class="register-button" th:utext="#{registration.sign_up}"></button>
        </form>
    </div>
</body>

</html>